@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@700&display=swap');
.body-home{
    background-image: url(../img/s2.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.black-fill {
    background: rgba(0,0,0,0.7);
}

#homeNav{
    background-color: rgba(255, 255, 255, 0.5) !important;
    backdrop-filter: blur(10px);
}
.welcome-text {
    color: white;
    text-align: center;
    padding: 200px 0;
    font-family: "Caudex", serif;
    font-weight: 700;
    font-style: normal;
}
.welcome-text h4 {
    font-size: 51px;
}
.welcome-text p{
    color: white;
    text-align: center;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}
#about {
    min-height: 100vh;
    padding: 50px 0;
}
#about .card-1{
    max-width: 600px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 5px;
}
#about .card-1 h5{
    font-size: 30px;
    font-family: "Caudex", serif;
    font-weight: 700;
    font-style: normal;
}
#contact {
    min-height: 100vh;
    padding: 50px 0;
}
#contact form{
    width: 90%;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 5px;
}
#contact form h3{
    text-align: center;
    font-family: "Caudex", serif;
    font-weight: 700;
    font-style: normal;
}
textarea {
    resize: none;
}

.login{
    width: 90%;
    max-width: 500px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}
.login h3{
    text-align: center;
    font-family: "Caudex", serif;
    font-weight: 700;
    font-style: normal;
}